

.bg-dark-purple{
    background-color: #252330;
}

.bg-light-purle{
    background-color: #464559;
}

.bg-sea-green{
    background-color: #48C9B0;
}

.bg-ocean-blue{
    background-color: #00C7E2;
}

.bg-just-red{
    background-color: #FF5C00;
}

.text-light-grey{
    color: #E6E6E6;
}

.text-link-green{
    color: #A5E9DC;
}

.form-text-purle{
    color: #6C6B77;
}

.main-font{
    font-family: 'Cooper Black';
}